<div class="row">
  <div class="columns medium-8 medium-centered">

  <h1 class="page-header">Edit This Note</h1>

  <% if @errors %>
    <div class="panel callout alert">
      <ul>
        <% @errors.each do |error|%>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <%end%>

  <%= form_for(@note, :html => { :class => 'form' }) do |f| %>
  <div class="field">
    <%= f.label :comment, class: "label" %><br />
    <%= f.text_field :comment %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "button form-submit" %>
  </div>
  <% end %>

  </div>
</div>
