<div class="row">
  <div class="columns medium-8 medium-centered">

  <h1 class="page-header">Edit This Contact</h1>

  <% if @errors %>
    <div class="panel callout alert">
      <ul>
        <% @errors.each do |error|%>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <%end%>

  <%= form_for(@contact, :html => { :class => 'form' }) do |f| %>
    <div class="field">
      <%= f.label :first_name, class: "label" %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name, class: "label" %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :company, class: "label" %>
      <%= f.file_field :company %>
    </div>

    <div class="field">
      <%= f.label :past_company, class: "label" %>
      <%= f.text_field :past_company %>
    </div>

    <div class="field">
      <%= f.label :industry, class: "label" %>
      <%= f.text_field :industry %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "button form-submit" %>
    </div>
  <% end %>

  </div>
</div>
